@page "/learnBlazor/learnRouting"
@page "/learnRouting"

@inject NavigationManager _NavigationManager


<h3>LearnRouting</h3>
<h4>Parameter1 : @Parameter1</h4>
<h4>Parameter2 : @Parameter2</h4>

<a href="learnRouting?Param1=Tangy&Param2=Blazor" class="btn btn-primary">Navigate to query parameter</a>
<button class="btn btn-success" @ onclick="LoadParameters">Load Parameters</button>
<br />
<h3>Query String Parameters</h3>

<h4>Param1 : @Param1</h4>
<h4>Param2 : @Param2</h4>
